<div id="destaques">
<p id="titulo" >Produtos em destaque</p>
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto01 %}
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto02 %}
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto03 %}
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto04 %}
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto05 %}
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto06 %}
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto07 %}
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto08 %}
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto09 %}
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto10 %}
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto11 %}
{% include 'multicadeiras/produto/produtoThumb.html' with produto=destaques.produto12 %}
</div>