{% extends 'multicadeiras/index.html' %}

{% block conteudo %}

<h3>O diferencial Multicadeiras</h3>

<p>Operamos em nosso ramo desde 1987, atendendo no varejo e no atacado com produtos de alta qualidade e preços diferenciados.
Todos os nossos produtos são revestidos em verniz Poliuretano e produzidos inteiramente em madeira reflorestada e certificada pela FSC - Forest Stwardship Council - uma organização não governamental internacional, a qual assegura que a madeira utilizada na fabricação provém exclusivamente de florestas manejadas de forma ambientalmente correta, socialmente justa e economicamente sustentável.</p>

<p>Escolha entre mais de 350 modelos de cadeiras, mesas, bancos e acessórios, com uma rápida entrega - de 15 a 30 dias a partir do pedido.</p>

<p>No atacado, atendemos a hotéis, restaurantes, bares, cafés, centros de convenções e eventos, salões de festas, condomínios residenciais e afins. Veja nossa relação de clientes anexa.</p>

<p>Parcelamos em seu cartão de crédito -  até 48 parcelas fixas e taxas diferenciadas, a partir de 0,89%.</p>

<p>Também operamos com o CARTÃO BNDES em até 48 parcelas fixas e juros de 0,86% am.</p>

<p>A MULTICADEIRAS está online com o BNDES. Faça seu pedido a qualquer momento por telefone ou e-mail.</p>


<p>Valorizamos muito nossos clientes. Eles são os motivos de nossa existência e seu sucesso é nosso sucesso. Nossos clientes são nossas referências. Também são referências em seus segmentos, por investirem em produtos diferenciados, otimizando ambientes e alcançando resultados mais efetivos em seus negócios.</p>

<p>Seja você também um de nossos clientes e comprove a qualidade de nossos produtos e serviços!</p>

<p>Nós fazemos a diferença. Consulte-nos e surpreenda-se!</p>
{% endblock %} 